<?xml version="1.0" ?>

<launch>
  <machine name="pi" address="192.168.0.100" password="raspberry" env-loader="/home/pi/ros_workspaces/catkin_ws/devel/env.sh" user="pi"/>

  <!-- Arguments -->  
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="false"/>

  <!-- move_base -->
  <node machine="pi" pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find navigation)/param/common_costmap.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find navigation)/param/common_costmap.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navigation)/param/local_costmap.yaml" command="load" />
    <rosparam file="$(find navigation)/param/global_costmap.yaml" command="load" />
    <rosparam file="$(find navigation)/param/move_base.yaml" command="load" />
    <rosparam file="$(find navigation)/param/dwa_planner.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <param name="DWAPlannerROS/min_vel_x" value="-0.5" if="$(arg move_forward_only)" />
  </node>
</launch>
