<?xml version="1.0" ?>

<launch>
	<node name="joy1" pkg="joy" type="joy_node"	/>
	<node name="raspi_pwm" pkg="mr_robot_firmware" type="twist_to_raspi_pwm" output="screen"/>
	<node name="joy_twist" pkg="mr_robot_firmware" type="joy_to_twist" output="screen"/>

	<rosparam file="$(find mr_robot_firmware)/config/mr_robot_firmware.yaml" command="load" />

</launch>